.navbar-custom{
    position: fixed;
    width: 100%;
    /* width: calc(100% - 260px); */
    z-index: 99;
    transition: 0.3ms ease-in;
}
.navbar-custom-expand{
    position: fixed;
    /* width: 100%; */
    transition: 0.3ms ease-in;
}

.custom-expand-name{
    margin-right: 250px; ;
}
